<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
  <display-name>Quotes fra #linux.no på freenode</display-name>
  
  <servlet>
    <servlet-name>linoquotes</servlet-name>
    <servlet-class>lq.ViewQuotes</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>linoquotes</servlet-name>
    <url-pattern>/quotes</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>redirect-to-quotes</servlet-name>
    <servlet-class>lq.Redirect</servlet-class>
    <init-param>
      <param-name>destination</param-name>
      <param-value>/quotes</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>redirect-to-quotes</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
