<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
  <display-name>Quotes fra #linux.no på freenode</display-name>

  <servlet>
    <servlet-name>add_quote</servlet-name>
    <servlet-class>lq.AddQuote</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>add_quote</servlet-name>
    <url-pattern>/post/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>importquotes</servlet-name>
    <servlet-class>lq.ImportQuotes</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>importquotes</servlet-name>
    <url-pattern>/import</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dropdb</servlet-name>
    <servlet-class>lq.DropData</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dropdb</servlet-name>
    <url-pattern>/dropdb</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>new_admin</servlet-name>
    <servlet-class>lq.AddAdmin</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>new_admin</servlet-name>
    <url-pattern>/new_admin</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>quotes.jsp</welcome-file>
  </welcome-file-list>

</web-app>
